body {
    background-color: blue
}

#clickable-icon-group{
    display:flex;
    flex-direction: row;
    align-items: center;
    /* text-decoration: none; */
}

#outlet_div{
    border: 5px solid green;
    position:absolute;
    width:100vw;
}