

#outer{
    height:80%;
    width:80%;
    background-color: grey;
    /* display:flex;
    flex-direction: column; */
}


#check{
    border: 2px solid black;
    position:relative;
}

#expanded{
    /* height:4rem; */
    width:100%;
    background-color: lightgray;
}



